  body {
    background-image: url(images/);
    background-repeat: no-repeat;
     background-position: top 0px center;
    background-size: auto;
    background-color: rgb(0, 1, 27);
  }
  .modal-open .modal {
      overflow: hidden;
  }
  .jackpot-top-wrappper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 0 30px;
    position: relative;
    z-index: 1;
    margin:2.5rem 0 0;
  }
  .width_login_regis{
    width: 100%;
    height: 650px;
  }
  .ifram_style
  {
      width: 100%;
      height: 600px;
  } 
  .jackpot-top-wrappper .jackpot-box-item {
    width: 40%
  }

  .jackpot-top-wrappper .jackpot-box-item img {
    width: 100%;
    height: auto;
    -webkit-box-shadow: 0px 0px 10px 10px #ffc500;
    box-shadow: 0px 0px 10px 10px #ffc500
  }

  .jackpot-top-wrappper .bg-l-cartoon-jp {
    position: absolute;
    z-index: -1;
    top: 0px;
    left: -60%;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    display: block;
    content: '';
    width: 300px;
    height: 600px
  }

  .jackpot-top-wrappper .bg-l-cartoon-jp img {
    width: 100%;
    height: auto
  }

  .jackpot-top-wrappper .bg-r-cartoon-jp {
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0;
    right: -60%;
    bottom: 0;
    margin: 0 auto;
    display: block;
    content: '';
    width: 300px;
    height: 600px;
  }

  .jackpot-top-wrappper .bg-r-cartoon-jp img {
    width: 100%;
    height: auto
  }

  @media only screen and (max-width:991px) {
    .jackpot-top-wrappper .bg-l-cartoon-jp {
      display: none;
    }

    .jackpot-top-wrappper .bg-r-cartoon-jp {
      display: none;
    }

    .jackpot-top-wrappper .jackpot-box-item {
      width: 100%;
    }
    .width_login_regis{
    width: 100%;
    height:650px;
    }
    .ifram_style
    {
      width: 400px;
      height: 600px;
    }  

  }
  

  /* Portrait */
  @media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {


    .jackpot-top-wrappper .bg-l-cartoon-jp {
      width: 250px;
    }

    .jackpot-top-wrappper .bg-r-cartoon-jp {
      right: -62%;
      width: 250px;
    }
    .width_login_regis{
    width: 100%;
    height: 650px;
    }
    .ifram_style{
      width: 400px;
      height: 600px;
    } 
 
  }

  @media only screen and (max-width: 600px) {
    .logobanner {
      display: none;
    }
     .width_login_regis{
    width: 100%;
    height: 700px;
    }

  }

  @media only screen and (max-width: 375px) {
    .font-sm {
      font-size: 10.6px;
    }
    .font-size{
      font-size: 10.6px;
    }
    .width_login_regis
    {
    width: 100%;
    height: 650px;
    }
    .ifram_style
    {
      width: 300px;
      height: 550px;
    }   
  }

  @media only screen and (min-width: 375.1px) and (max-width: 415px){
    .font-sm-v2 {
      font-size: 12px;
    }
    .font-size{
      font-size: 10.6px;
    } 
    .width_login_regis
    {
    width: 100%;
    height: 700px;
    }
    .ifram_style
    {
      width: 350px;
      height: 550px;
    }   
  }

   @media only screen and (width: 450px){

    .width_login_regis
    {
    width: 100%;
    height: 480px;
    }
    .ifram_style
    {
      width: 350px;
      height: 480px;
    }   
  }
  


/* #Navigation (new)
================================================== */

::selection {
  color: #fff;
  background-color: #8167a9;
}
::-moz-selection {
  color: #fff;
  background-color: #8167a9;
}

.start-header {
  opacity: 1;
  transform: translateY(0);
  padding: 20px 0;
  box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);
  -webkit-transition : all 0.3s ease-out;
  transition : all 0.3s ease-out;
}
.start-header.scroll-on {
  box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
  padding: 10px 0;
  -webkit-transition : all 0.3s ease-out;
  transition : all 0.3s ease-out;
}

.start-header.scroll-on .navbar-brand img{
  height: 24px;
  -webkit-transition : all 0.3s ease-out;
  transition : all 0.3s ease-out;
}

.navigation-wrap{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  -webkit-transition : all 0.3s ease-out;
  transition : all 0.3s ease-out;
}
.navbar{
  padding: 0;
}
.navbar-brand img{
  height: 28px;
  width: auto;
  display: block;
  filter: brightness(10%);
  -webkit-transition : all 0.3s ease-out;
  transition : all 0.3s ease-out;
}

.nav-link{
  color: white !important;
  font-weight: 500;
    transition: all 200ms linear;
}
.nav-item:hover .nav-link{
  color: #8167a9 !important;
}
.nav-item.active .nav-link{
  color: #777 !important;
}
.nav-link {
  position: relative;
  padding: 5px 0 !important;
  display: inline-block;
}

.nav-item:after{
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  content: '';
  background-color: #8167a9;
  opacity: 0;
    transition: all 200ms linear;
}
.nav-item:hover:after{
  bottom: 0;
  opacity: 1;
}
.nav-item.active:hover:after{
  opacity: 0;
}
.nav-item{
  position: relative;
    transition: all 200ms linear;
}

.bg-light {
  background-color: #fff !important;
    transition: all 200ms linear;
}
.section {
    position: relative;
  width: 100%;
  display: block;
}
.full-height {
    height: 100vh;
}
.over-hide {
    overflow: hidden;
}
.absolute-center {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  margin-top: 40px;
  transform: translateY(-50%);
  z-index: 20;
}
h1{
  font-size: 48px;
  line-height: 1.2;
  font-weight: 700;
  color: #212112;
  text-align: center;
}

body.hero-anime p{
  opacity: 0;
  transform: translateY(40px);
    transition-delay: 1700ms;
}
h1 span{
  display: inline-block;
    transition: all 300ms linear;
  opacity: 1;
  transform: translate(0);
}
body.hero-anime h1 span:nth-child(1){
  opacity: 0;
  transform: translateY(-20px);
}
body.hero-anime h1 span:nth-child(2){
  opacity: 0;
  transform: translateY(-30px);
}
body.hero-anime h1 span:nth-child(3){
  opacity: 0;
  transform: translateY(-50px);
}
body.hero-anime h1 span:nth-child(4){
  opacity: 0;
  transform: translateY(-10px);
}
body.hero-anime h1 span:nth-child(5){
  opacity: 0;
  transform: translateY(-50px);
}
body.hero-anime h1 span:nth-child(6){
  opacity: 0;
  transform: translateY(-20px);
}
body.hero-anime h1 span:nth-child(7){
  opacity: 0;
  transform: translateY(-40px);
}
body.hero-anime h1 span:nth-child(8){
  opacity: 0;
  transform: translateY(-10px);
}
body.hero-anime h1 span:nth-child(9){
  opacity: 0;
  transform: translateY(-30px);
}
body.hero-anime h1 span:nth-child(10){
  opacity: 0;
  transform: translateY(-20px);
}
h1 span:nth-child(1){
    transition-delay: 1000ms;
}
h1 span:nth-child(2){
    transition-delay: 700ms;
}
h1 span:nth-child(3){
    transition-delay: 900ms;
}
h1 span:nth-child(4){
    transition-delay: 800ms;
}
h1 span:nth-child(5){
    transition-delay: 1000ms;
}
h1 span:nth-child(6){
    transition-delay: 700ms;
}
h1 span:nth-child(7){
    transition-delay: 900ms;
}
h1 span:nth-child(8){
    transition-delay: 800ms;
}
h1 span:nth-child(9){
    transition-delay: 600ms;
}
h1 span:nth-child(10){
    transition-delay: 700ms;
}
body.hero-anime h1 span:nth-child(11){
  opacity: 0;
  transform: translateY(30px);
}
body.hero-anime h1 span:nth-child(12){
  opacity: 0;
  transform: translateY(50px);
}
body.hero-anime h1 span:nth-child(13){
  opacity: 0;
  transform: translateY(20px);
}
body.hero-anime h1 span:nth-child(14){
  opacity: 0;
  transform: translateY(30px);
}
body.hero-anime h1 span:nth-child(15){
  opacity: 0;
  transform: translateY(50px);
}
h1 span:nth-child(11){
    transition-delay: 1300ms;
}
h1 span:nth-child(12){
    transition-delay: 1500ms;
}
h1 span:nth-child(13){
    transition-delay: 1400ms;
}
h1 span:nth-child(14){
    transition-delay: 1200ms;
}
h1 span:nth-child(15){
    transition-delay: 1450ms;
}
#switch,
#circle {
  cursor: pointer;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear; 
} 
#switch {
  width: 60px;
  height: 8px;
  border: 2px solid #8167a9;
  border-radius: 27px;
  background: #000;
  position: relative;
  display: block;
  margin: 0 auto;
  text-align: center;
  opacity: 1;
  transform: translate(0);
    transition: all 300ms linear;
    transition-delay: 1900ms;
}
body.hero-anime #switch{
  opacity: 0;
  transform: translateY(40px);
    transition-delay: 1900ms;
}
#circle {
  position: absolute;
  top: -11px;
  left: -13px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: #000;
}
.switched {
  border-color: #000 !important;
  background: #8167a9 !important;
}
.switched #circle {
  left: 43px;
  box-shadow: 0 4px 4px rgba(26,53,71,0.25), 0 0 0 1px rgba(26,53,71,0.07);
  background: #fff;
}
.nav-item .dropdown-menu {
    transform: translate3d(0, 10px, 0);
    visibility: hidden;
    opacity: 0;
  max-height: 0;
    display: block;
  padding: 0;
  margin: 0;
    transition: all 200ms linear;
}
.nav-item.show .dropdown-menu {
    opacity: 1;
    visibility: visible;
  max-height: 999px;
    transform: translate3d(0, 0px, 0);
}
.dropdown-menu {
  padding: 10px!important;
  margin: 0;
  font-size: 13px;
  letter-spacing: 1px;
  color: #212121;
  background-color: #fcfaff;
  border: none;
  border-radius: 3px;
  box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
    transition: all 200ms linear;
}
.dropdown-toggle::after {
  display: none;
}

.dropdown-item {
  padding: 3px 15px;
  color: #212121;
  border-radius: 2px;
    transition: all 200ms linear;
}
.dropdown-item:hover, 
.dropdown-item:focus {
  color: #fff;
  background-color: rgba(129,103,169,.6);
}

body.dark{
  color: #fff;
  background-color: #1f2029;
}
body.dark .navbar-brand img{
  filter: brightness(100%);
}
body.dark h1{
  color: #fff;
}
body.dark h1 span{
    transition-delay: 0ms !important;
}
body.dark p{
  color: #fff;
    transition-delay: 0ms !important;
}
body.dark .bg-light {
  background-color: #14151a !important;
}
body.dark .start-header {
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.15);
}
body.dark .start-header.scroll-on {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
}
body.dark .nav-link{
  color: #fff !important;
}
body.dark .nav-item.active .nav-link{
  color: #999 !important;
}
body.dark .dropdown-menu {
  color: #fff;
  background-color: #1f2029;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
}
body.dark .dropdown-item {
  color: #fff;
}
body.dark .navbar-light  {
  border-bottom: 1px solid #fff;
}
body.dark .navbar-light , 
body.dark .navbar-light {
  background-color: #fff;
}
body.dark[aria-expanded="true"]{
  border-color: transparent;
}

.logo {
  position: absolute;
  bottom: 30px;
  right: 30px;
  display: block;
  z-index: 100;
  transition: all 250ms linear;
}
.logo img {
  height: 26px;
  width: auto;
  display: block;
  filter: brightness(10%);
  transition: all 250ms linear;
}
body.dark .logo img {
  filter: brightness(100%);
}