.footerbg{
    background-color:#0f1324;
    padding:10px 0
}
.products-group{
    display:flex;
    justify-content:center;
    text-align:center
}
.products-groups-item{
    display:flex;
    justify-content:center;
    text-align:center;
    align-items:center;
    width:100%
}
.link-products-item{
    background-position:center;
    background-repeat:no-repeat;
    background-size:100px 40px;
    width:150px;
    height:100px;
    cursor:pointer;
    /*filter:grayscale(100%) opacity(30%) brightness(1)*/
}
.link-products-item:hover{
    filter:none
}
.imglogo01{
    background-image:url(../images/logo/01_Color.png)
}
.imglogo02{
    background-image:url(../images/logo/02_Color.png);
    width:100px
}
.imglogo03{
    background-image:url(../images/logo/03_Color.png);
    width:100px
}
.imglogo04{
    background-image:url(../images/logo/04_Color.png)
}
.imglogo05{
    background-image:url(../images/logo/05_Color.png)
}
.imglogo06{
    background-image:url(../images/logo/06_Color.png)
}
.imglogo07{
    background-image:url(../images/logo/07_Color.png)
}
.imglogo08{
    background-image:url(../images/logo/08_Color.png)
}
.imglogo09{
    background-image:url(../images/logo/09_Color.png)
}
.imglogo01:hover{
    background-image:url(../images/logo/01.png)
}
.imglogo02:hover{
    background-image:url(../images/logo/02.png);
    width:100px
}
.imglogo03:hover{
    background-image:url(../images/logo/03.png);
    width:100px
}
.imglogo04:hover{
    background-image:url(../images/logo/04.png)
}
.imglogo05:hover{
    background-image:url(../images/logo/05.png)
}
.imglogo06:hover{
    background-image:url(../images/logo/06.png)
}
.imglogo07:hover{
    background-image:url(../images/logo/07.png)
}
.imglogo08:hover{
    background-image:url(../images/logo/08.png)
}
.imglogo09:hover{
    background-image:url(../images/logo/09.png)
}
.rowfooter{
    display:flex;
    width:100%;
    color:#fff;
    margin:30px 0
}
.footer-colleft{
    display:flex;
    justify-content:space-evenly;
    width:50%
}
.footer-collogo{
    width:20%
}
.footer-logobank{
    width:55%;
    font-size:13px;
    color:#5e616f
}
.footer-headtext{
    color:#ee5b47;
    font-size:15px
}
.footer-logobank-group{
    display:flex;
    justify-content:center;
    margin:15px 0 50px
}
.footer-logobank-group a img{
    max-width:100%;
    height:auto;
    width:35px;
    margin:0 10px 0 0;
    /*filter:grayscale(100%) opacity(50%) brightness(1)*/
}
.footer-logobank-group a img:hover{
    filter:none
}
.footer-colright{
    display:flex;
    justify-content:space-evenly;
    width:50%
}
.footer-data{
    width:20%
}
.footer-data:last-child{
    width:35%
}
.footer-data ul{
    list-style-type:none;
    left:auto;
    overflow:auto;
    color:#fff;
    font-size:13px;
    padding-inline-start:10px
}
.footer-data li{
    margin:0 0 5px 0;
    list-style-type:none
}
.footer-data a{
    text-decoration:none;
    color:#5e616f;
    cursor:pointer
}
.footer-data a i{
    padding-right:3px;
    font-size:12px;
    vertical-align:-.025em;
    color:#5e616f
}
.footer-data li:hover a,.footer-data li:hover i{
    color:#fff
}
.copyright{
    display:block;
    text-align:center;
    color:#fff
}
.footer-collogo-text{
    font-size:12px;
    margin-top:7px;
    text-align:center
}
@media(max-width:815px){
    .footer-colleft{
        width:45%
    }
    .footer-colright{
        width:55%
    }
}
@media(max-width:991px) and (min-width:768px){
    .footer-logobank{
        width:60%;
        font-size:11px
    }
    .footer-data{
        width:22%
    }
    .footer-data ul{
        font-size:11px;
        padding-inline-start:0
    }
    .link-products-item{
        background-size:80px 30px
    }
    .footer-collogo{
        width:23%
    }
    .footer-collogo-text{
        font-size:10px
    }
}
@media(max-width:767px){
    .footer-logobank{
        width:65%;
        font-size:10px
    }
    .footer-data ul{
        font-size:10px;
        padding-inline-start:0
    }
    .footerbg{
        margin-bottom:200px
    }
}
@media(min-width:1800px){
    .footer-collogo-text{
        font-size:16px
    }
}
@media(max-width:600px){
    .rowfooter{
        display:block
    }
    .footer-colleft{
        width:100%
    }
    .footer-colright{
        width:100%;
        padding-left:30px
    }
}
 