.am-rotateY {
  -webkit-animation-name: rotateY;
  -webkit-animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-direction: alternate;
  -moz-animation-name: rotateY;
  -moz-animation-duration: 4s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -moz-animation-direction: alternate;
  animation-name: rotateY;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
  -webkit-transform: rotateY(0);
  -moz-transform: rotateY(0);
  transform: rotateY(0);
}


@-webkit-keyframes rotateY {
  0% {
    -webkit-transform: rotateY(-25deg);
    -moz-transform: rotateY(-25deg);
    transform: rotateY(-25deg);
  }
  100% {
    -webkit-transform: rotateY(25deg);
    -moz-transform: rotateY(25deg);
    transform: rotateY(25deg);
  }
}

@-moz-keyframes rotateY {
  0% {
    -webkit-transform: rotateY(-25deg);
    -moz-transform: rotateY(-25deg);
    transform: rotateY(-25deg);
  }
  100% {
    -webkit-transform: rotateY(25deg);
    -moz-transform: rotateY(25deg);
    transform: rotateY(25deg);
  }
}


@keyframes rotateY {
  0% {
    -webkit-transform: rotateY(-25deg);
    -moz-transform: rotateY(-25deg);
    transform: rotateY(-25deg);
  }
  100% {
    -webkit-transform: rotateY(25deg);
    -moz-transform: rotateY(25deg);
    transform: rotateY(25deg);
  }
}

/* --------------------------------------------------------------- */

.am-rotateZ {
  -webkit-animation-name: rotateZ;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-direction: alternate;
  -moz-animation-name: rotateZ;
  -moz-animation-duration: 1s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -moz-animation-direction: alternate;
  animation-name: rotateZ;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
  -webkit-transform:rotateZ(-3deg);
  -moz-transform: rotateZ(-3deg);
  transform: rotateZ(-3deg);
}


@-webkit-keyframes rotateZ {
  0% {
    -webkit-transform: rotateZ(-3deg);
    -moz-transform: rotateZ(-3deg);
    transform: rotateZ(-3deg);
  }

  100% {
    -webkit-transform: rotateZ(3deg);
    -moz-transform: rotateZ(3deg);
    transform: rotateZ(3deg);
  }
}

@-moz-keyframes rotateZ {
  0% {
    -webkit-transform: rotateZ(-3deg);
    -moz-transform: rotateZ(-3deg);
    transform: rotateZ(-3deg);
  }

  100% {
    -webkit-transform: rotateZ(3deg);
    -moz-transform: rotateZ(3deg);
    transform: rotateZ(3deg);
  }
}

@keyframes rotateZ {
  0% {
    -webkit-transform: rotateZ(-3deg);
    -moz-transform: rotateZ(-3deg);
    transform: rotateZ(-3deg);
  }

  100% {
    -webkit-transform: rotateZ(3deg);
    -moz-transform: rotateZ(3deg);
    transform: rotateZ(3deg);
  }
}

/* --------------------------------------------------------------- */

.am-bgmove {
    background:#000000;
    box-shadow: inset 0px 0px 5px rgba(0,0,0,0.5);
    -webkit-animation: bgmove 6s linear  infinite alternate;
    -moz-animation: bgmove 6s linear  infinite alternate;
    animation: bgmove 6s linear  infinite alternate;
}

@-webkit-keyframes bgmove {
    0% {background-color: #cf0404;box-shadow: inset 0px 0px 100px rgba(0,0,0,0.5);}
    50% {background-color: #000000;}
    100% {background-color: #003366;box-shadow: inset 0px 0px 100px rgba(0,0,0,1);}
}

@-moz-keyframes bgmove {
    0% {background-color: #cf0404;box-shadow: inset 0px 0px 100px rgba(0,0,0,0.5);}
    50% {background-color: #000000;}
    100% {background-color: #003366;box-shadow: inset 0px 0px 100px rgba(0,0,0,1);}
}

@keyframes bgmove {
  0% {background-color: #cf0404;box-shadow: inset 0px 0px 100px rgba(0,0,0,0.5);}
  50% {background-color: #000000;}
  100% {background-color: #003366;box-shadow: inset 0px 0px 100px rgba(0,0,0,1);}
}

/* --------------------------------------------------------------- */

.am-zoom {
    -webkit-animation: zoom .3s ease-in infinite  alternate;
    -moz-animation: zoom .3s ease-in infinite  alternate;
     animation: zoom .3s ease-in infinite alternate;
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
     transform: scale(1, 1);
}

@-webkit-keyframes zoom {
    0% {-webkit-transform: scale(1, 1);}
    100% {-webkit-transform: scale(1.05, 1.05);}
}

@-moz-keyframes zoom {
  0% {-moz-transform: scale(1, 1);}
  100% {-moz-transform: scale(1.05, 1.05);}
}

@keyframes zoom {
  0% {transform: scale(1, 1);}
  100% {transform: scale(1.05, 1.05);}
}

/* --------------------------------------------------------------- */

.am-moveright {
    -webkit-animation: moveright .1s ease-out infinite  alternate;
    -moz-animation: moveright .1s ease-out infinite  alternate;
     animation: moveright .1s ease-out infinite alternate;
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
     transform: translateX(0);
}

@-webkit-keyframes moveright {
    0% {-webkit-transform: translateX(0);}
    100% {-webkit-transform: translateX(5px);}
}

@-moz-keyframes moveright {
  0% {-webkit-transform: translateX(0);}
  100% {-webkit-transform: translateX(5px);}
}

@keyframes moveright {
  0% {-webkit-transform: translateX(0);}
  100% {-webkit-transform: translateX(5px);}
}

.wheel {position: fixed;bottom:23px;right:22px; z-index:2;}
.coingif {position: fixed;bottom:160px;right:25px; z-index:4;}
.wheel-text {position: fixed;bottom:20px;right:20px; z-index:5;}
.sub-wheel {position: fixed;bottom:25px;right:25px; z-index:3;
            animation: circle 10s linear 2s infinite;
}
.tamx2 {position:fixed; bottom:25px; right:25px; z-index:6;}

.wheel-xs {position:relative; top:22px; right:-5px}
.coingif-xs {position:absolute;;top:-10px; right: 10px; z-index:4}
.wheel-text-xs {position:absolute;;top:220px; left:5px; z-index:5 }
.sub-wheel-xs {position:absolute;top:0px; left:0px; z-index: 3;
            animation: circle 10s linear 2s infinite;
}
.tamx2-xs {position:absolute; top:0px; left:0px; z-index: 6;}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes circle {
    0%   { -ms-transform: rotate(0deg); /* IE 9 */
            -webkit-transform: rotate(0deg); /* Safari */
            transform: rotate(0deg);}
    100% { -ms-transform: rotate(360deg); /* IE 9 */
            -webkit-transform: rotate(360deg); /* Safari */
            transform: rotate(360deg);}
}

/* Safari 4.0 - 8.0 */
@keyframes circle {
    0%   { -ms-transform: rotate(0deg); /* IE 9 */
            -webkit-transform: rotate(0deg); /* Safari */
            transform: rotate(0deg);}
    100% { -ms-transform: rotate(360deg); /* IE 9 */
            -webkit-transform: rotate(360deg); /* Safari */
            transform: rotate(360deg);}
}

.flash-box-wrap{
position:relative;
z-index:1;
}
.hit-mobile-wrap{
position: absolute;
    top: 5px;
    right: 10px;
    font-size: 0.5rem;
    background: red;
    color: #fff;
    padding: 0px 5px;
}


.fixed-contact-wrapper{
    position: fixed;
    z-index: 999999;
    bottom: 60px;
    right: 30px;
    display: block;
    content: '';
    width: 285px;
    height: 455px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    transform: translateX(0%);
    transition: transform .3s ease, -webkit-transform .3s ease;
    .box-fixed-item{
        position: relative;
        z-index: 1;
        .close-fixed-wrapper{
            position: absolute;
            top: -30px;
            right: 0;
            z-index: 1;
            i{
                font-size: 1.8rem;
                color: red;
                cursor: pointer;
            }
        }
        .bttn-fixed-wrapper{
            padding: 220px 0 0;
            &.-two{
padding: 25px 0 0;
margin: 0 0 -25px;
            }
            &.-three{
                padding: 0px 0 0;
            }
        }
    }
    &.closee{
        transform: translateX(350px);
    }
}
@media only screen and (max-width:991px) {
    .fixed-contact-wrapper{
        display: none;
    }
}
